name: Build and Release

on:
  push:
    branches:
      - master
    tags:
      - 'v*'

jobs:
  build-java:
    name: Build Java
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Build Java with Maven
        run: |
          mvn package && cp target/swapper-0.0.1-SNAPSHOT.jar swapper.jar
        shell: bash
      - name: Upload Jar
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: swapper.jar
  build-go:
    name: Build Go
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [windows, darwin, linux]
        goarch: [arm64, amd64]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '^1.22'
      - name: Build Go Binary
        working-directory: ./jbs-client
        run: |
          EXT=""
          if [ "${{ matrix.goos }}" == "windows" ]; then
            EXT=".exe"
          fi
          CGO_ENABLED=0 GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -v -o jbs-client-${{ matrix.goos }}-${{ matrix.goarch }}$EXT
        shell: bash
      - name: Archive Production Artifacts
        run: |
          zip -r jbs-client-${{ matrix.goos }}-${{ matrix.goarch }}.zip  jbs-client/jbs-client-${{ matrix.goos }}-${{ matrix.goarch }}*
        shell: bash
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-${{ matrix.goos }}-${{ matrix.goarch }}
          path: jbs-client-${{ matrix.goos }}-${{ matrix.goarch }}.zip

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: ["build-java", "build-go"]
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v3
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
      - name: Upload Release Assets
        uses: softprops/action-gh-release@v1
        with:
          files: artifacts*/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
